<!DOCTYPE html>
<html class="no-js">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Health Expenditure Estimator</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
      <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive"/>
      <meta name="author" content="FREEHTML5.CO" />
      <meta property="og:title" content=""/>
      <meta property="og:image" content=""/>
      <meta property="og:url" content=""/>
      <meta property="og:site_name" content=""/>
      <meta property="og:description" content=""/>
      <meta name="twitter:title" content="" />
      <meta name="twitter:image" content="" />
      <meta name="twitter:url" content="" />
      <meta name="twitter:card" content="" />
      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link rel="shortcut icon" href="favicon.ico">
      <!-- Google Webfonts -->
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>
      <!-- Animate.css -->
      <link rel="stylesheet" href="../static/css/animate.css">
      <!-- Icomoon Icon Fonts-->
      <link rel="stylesheet" href="../static/css/icomoon.css">
      <!-- Simple Line Icons -->
      <link rel="stylesheet" href="../static/css/simple-line-icons.css">
      <!-- Theme Style -->
      <link rel="stylesheet" href="../static/css/style.css">
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
      <!-- Modernizr JS -->
      <script src="../static/js/modernizr-2.6.2.min.js"></script>
      <!-- FOR IE9 below -->
      <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <header id="fh5co-header" role="banner">
         <nav class="navbar navbar-default" role="navigation">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                     <div class="navbar-header">
                        <!-- Mobile Toggle Menu Button -->
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                        <a class="navbar-brand" >Health Fortune</a>
                     </div>
                     <div id="fh5co-navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                           <li class="active"><a href="/insight_project"><span>Home <span class="border"></span></span></a></li>
                           <li><a href="/project_slides"><span>Presentation<span class="border"></span></span></a></li>
                           <li><a href="https://www.linkedin.com/in/xbzheng"><span>LinkedIn<span class="border"></span></span></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <br><br>
      <div class="container">
         <!-- <div class="starter-template"></div> -->
         <div class = "container col-md-6">
            <h2>Answer following questions</h2>
            <form  action="/forcast" method="GET">
               <div class="form-group">
                  <p>
                     What is your gender? 
                     <select name='gender_input'>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                     </select>
                  </p>
                  <p>
                     What is your age? 
                     <select name='age_input'>
                        <option value="20">11-20</option>
                        <option value="30">21-30</option>
                        <option value="40">31-40</option>
                        <option value="50">41-50</option>
                        <option value="60">51-60</option>
                        <option value="70">61-70</option>
                        <option value="80">>70</option>
                     </select>
                  </p>
                  <p>
                     What is your ethnicity? 
                     <select name='ethnicity_input'>
                        <option value="1">White</option>
                        <option value="2">Black</option>
                        <option value="3">Asian</option>
                        <option value="4">Hispanic</option>
                     </select>
                  </p>
                  <p>
                     What is your wage? 
                     <select name='wage_input'>
                        <option value="0">Not provided</option>
                        <option value="1"> < $50,000</option>
                        <option value="1"> $50,000 - $ 100,000</option>
                        <option value="1"> $100,000 - $ 500,000</option>
                        <option value="1"> >$500,000 </option>
                     </select>
                  </p>
                  <p>
                     Do you have high blood pressure?
                     <select name='blood_pres_input'>
                        <option value="0">No</option>
                        <option value="2">Yes</option>
                     </select>
                  </p>
                  <p>
                     Do you need to see a specialist? 
                     <select name='specialist_input'>
                        <option value="0">No</option>
                        <option value="2">Yes</option>
                     </select>
                  </p>
                  <p>
                     Have you been diagnosed with Asthma? 
                     <select name='asthma_input'>
                        <option value="0">No</option>
                        <option value="2">Yes</option>
                     </select>
                  </p>
                  <p>
                     Have you had ADLs (activities of daily living)? 
                     <select name='adl_care_input'>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                     </select>
                  </p>
                  <p>
                     Have you been diagnosed with Diabetes? 
                     <select name='diabetes_input'>
                        <option value="0">No</option>
                        <option value="2">Yes</option>
                     </select>
                  </p>
                  <p>
                     Have you had a routine health problem? 
                     <select name='routine_input'>
                        <option value="1">Not applicable</option>
                        <option value="2">No</option>
                        <option value="0">Yes</option>
                     </select>
                  </p>
                  <p>
                     Are you currently spend half hour or more in moderate to vigorous physical activity at least five times a week? 
                     <select name='act_input'>
                        <option value="0">No</option>
                        <option value="2">Yes</option>
                     </select>
                  </p>
                  <button type="submit" class="btn btn-primary"">Submit!</button>
            </form>
            </div>
            <div class = "container col-md-4">
               <h4>Example of client's inputs:</h4>
            </div>
            <div class = "container col-md-3">
               <form  action="/good_health_cond">
                  <button type="submit" class="btn btn-primary"">Example 1</button>
               </form>
            </div>
            <div class = "container col-md-3">
               <form  action="/bad_health_cond">
                  <button type="submit" class="btn btn-primary"">Example 2</button>
               </form>
            </div>
         </div>
         <div class = "container col-md-6">
            <div class = "container col-md-12">
               <div class="promos">
                  <div class="promo scale">
                     <div class="deal">
                        <span>Predicted Expenditure</span>
                     </div>
                     <span class="price">$0</span>
                  </div>
                  <div class="promo">
                     <div class="deal">
                        <span>Average Expenditure at Your Age</span>
                     </div>
                     <span class="price">$0</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /.container -->
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
      <!-- jQuery -->
      <script src="../static/js/jquery.min.js"></script>
      <!-- jQuery Easing -->
      <script src="../static/js/jquery.easing.1.3.js"></script>
      <!-- Bootstrap -->
      <script src="../static/js/bootstrap.min.js"></script>
      <!-- Waypoints -->
      <script src="../static/js/jquery.waypoints.min.js"></script>
      <!-- Main JS -->
      <script src="../static/js/main.js"></script>
      <footer id="fh5co-footer">
         <div class="container">
            <div class="row">
               <div class="col-md-10 col-md-offset-1 text-center">
                  <p>Insight Health Data Science Project 2016 <br> &copy; Xiaobin Zheng <br>Contact: xbzheng88@gmail.com</p>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>