<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../favicon.ico">
      <title>HEE</title>
      <!-- Bootstrap core CSS -->
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
   </head>
   <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="#">Health Expenditure Estimator</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li><a href="/insight_project">Home</a></li>
                  <li><a href="/project_slides">Presentation Slides</a></li>
                  <li><a href="https://www.linkedin.com/in/xbzheng">LinkedIn</a></li>
               </ul>
            </div>
         </div>
      </div>
      <br><br>
      <div class="container">
         <div class="starter-template">
         </div>
         <div class = "container col-md-6">
            <h2>To better serve you, please answer following questions</h2>
            <form  action="/forcast" method="GET">
               <div class="form-group">
                  <p>
                     What is your gender? 
                     <select name='gender_input'>
                        <option value="0">Male</option>
                        <option value="1">Female</option>
                     </select>
                  </p>
                  <p>
                     What is your age? 
                     <select name='age_input', class="btn btn-primary">
                        <option value="40">31-40</option>
                        <option value="20">11-20</option>
                        <option value="30">21-30</option>
                        <option value="50">41-50</option>
                        <option value="60">51-60</option>
                        <option value="70">61-70</option>
                        <option value="80">>70</option>
                     </select>
                  </p>
                  <p>
                     What is your ethnicity? 
                     <select name='ethnicity_input'>
                        <option value="1">White</option>
                        <option value="2">Black</option>
                        <option value="3">Asian</option>
                        <option value="4">Hispanic</option>
                     </select>
                  </p>
                  <p>
                     What is your wage? 
                     <select name='wage_input', class="btn btn-primary">
                        <option value="1"> $100,000 - $ 500,000</option>
                        <option value="0">Not provided</option>
                        <option value="1"> < $50,000</option>
                        <option value="1"> $50,000 - $ 100,000</option>
                        <option value="1"> >$500,000 </option>
                     </select>
                  </p>
                  <p>
                     Do you have high blood pressure?
                     <select name='blood_pres_input', class="btn btn-primary">
                        <option value="2">Yes</option>
                        <option value="0">No</option>
                     </select>
                  </p>
                  <p>
                     Do you need to see a specialist? 
                     <select name='specialist_input', class="btn btn-primary">
                        <option value="2">Yes</option>
                        <option value="0">No</option>
                     </select>
                  </p>
                  <p>
                     Have you been diagnosed with Asthma? 
                     <select name='asthma_input'>
                        <option value="0">No</option>
                        <option value="2">Yes</option>
                     </select>
                  </p>
                  <p>
                     Have you had ADLs (activities of daily living)? 
                     <select name='adl_care_input'>
                        <option value="0">No</option>
                        <option value="1">Yes</option>
                     </select>
                  </p>
                  <p>
                     Have you been diagnosed with Diabetes? 
                     <select name='diabetes_input', class="btn btn-primary">
                        <option value="2">Yes</option>
                        <option value="0">No</option>
                     </select>
                  </p>
                  <p>
                     Total number of hospital discharges?
                     <select name='discharge_input'>
                        <option value="0"> 0</option>
                        <option value="1"> 1</option>
                        <option value="2"> 2</option>
                        <option value="3"> 3</option>
                        <option value="4"> >4</option>
                     </select>
                  </p>
                  <p>
                     Have you had a routine health problems? 
                     <select name='routine_input'>
                        <option value="1">Not applicable</option>
                        <option value="0">Yes</option>
                        <option value="2">No</option>
                     </select>
                  </p>
                  <p>
                     Are you currently spend half hour or more in moderate to vigorous physical activity at least five times a week? 
                     <select name='act_input'>
                        <option value="0">No</option>
                        <option value="2">Yes</option>
                     </select>
                  </p>
                  <button type="submit" class="btn btn-primary"">Submit!</button>
               </div>
            </form>
            <div class = "container col-md-4">
               <h4>Example of client's inputs:</h4>
            </div>
            <div class = "container col-md-3">
               <form  action="/good_health_cond">
                  <button type="submit" class="btn btn-primary"">Example 1</button>
               </form>
            </div>
            <div class = "container col-md-3">
               <form  action="/bad_health_cond">
                  <button type="submit" class="btn btn-primary"">Example 2</button>
               </form>
            </div>
         </div>
         <div class = "container col-md-6">
            <div class = "container col-md-12">
               <div class="promos">
                  <div class="promo scale">
                     <div class="deal">
                        <span>Predicted Expenditure</span>
                     </div>
                     <span class="price">$0</span>
                  </div>
                  <div class="promo">
                     <div class="deal">
                        <span>Average Expenditure at Your Age</span>
                     </div>
                     <span class="price">$0</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- /.container -->
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
   </body>
</html>